body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ccc;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    flex-wrap: wrap;
}

.content-box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: calc(35% - 20px);
    margin: 15px;
}

h2 {
    color: #4CAF50;
    margin-top: 0;
}

footer {
    background-color: #0a0202;
    color: rgb(48, 120, 153);
    text-align: center;
    padding: 10px;
    clear: both;
}